  <h2>Course List</h2>

  <p *ngIf="isLoading">Loading courses...</p>

  <div *ngIf="!isLoading">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Search Course"
  /> <button
    (click)="searchCourses()"
  >
    Search
  </button>
  
<button (click)="addDummyCourse()">
Add Course
</button>

 <ng-container *ngFor="let c of courses">

  <div
    (click)="viewCourse(c.id)"
    style="cursor:pointer"
  >

    <app-course-card

  [course]="c"
  [selectedCourseId]="selectedCourseId"
  (enrollRequested)="onEnroll($event)"
  (courseSelected)="viewCourse($event)"
  appHighlight="lightblue">
    </app-course-card>

  </div>

</ng-container>





  <ng-container *ngIf="courses.length === 0">
    <p>No courses available.</p>
  </ng-container>

</div>

<p *ngIf="selectedCourseId">
  Selected Course ID: {{ selectedCourseId }}
</p>