<h2>Course List</h2>

<div *ngIf="!isLoading">
  <input type="text" [(ngModel)]="searchTerm" placeholder="Search Course" /> <button>Search</button>

  <button>Add Course</button>

  <ng-container>
    <div style="cursor: pointer">
      <app-course-card
        *ngFor="let c of courses$ | async"
        [course]="c"
        [selectedCourseId]="selectedCourseId"
        (enrollRequested)="onEnroll($event)"
        appHighlight="lightblue"
      >
      </app-course-card>
    </div>
  </ng-container>

  <ng-container *ngIf="(courses$ | async)?.length === 0">
    <p>No courses available.</p>
  </ng-container>
</div>

<p *ngIf="selectedCourseId">Selected Course ID: {{ selectedCourseId }}</p>
<p style="color: red" *ngIf="errorMessage">
  {{ errorMessage }}
</p>
